div{
    border: 5px solid;
    height:500px;
    width:800px;
}
.ab{
    border: 50px solid blue;
    background-color:darkgoldenrod;
    margin: 40px;
    align-content:center;
    height: 200px;
    width: 400px;
    text-align: center;
}
