/* p{
    color:aqua;
    font-size: 25px;
}
.lor{
    color:#FF00FF;
}

.me{
    color:blue; text-align: center;
}
#me1{
    color:brown;
}
div{
    height:200px; 
    width:200px; 
    background-color: aqua; 
    text-align: center; 
    align-content: center;
    padding: 5px;
    margin: 10px 200px;
    border: 5px solid blue;
} */
 .container{
    display: grid;
    height: 400px;
    width: 1000px;
    background-color: aquamarine;
    border: 1px solid black;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    /* grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer"; */
    /justify-items/
    /* justify-items: center;
    align-items: center; */
    /place-item is mix of justify-item and align-items./
    /* justify-content: space-around;
    align-content: space-around; */
    /place-content is mix of justify-content and align-content./
 }
 .box{
    height: 100px;
    width: 100px;
    background-color: burlywood;
    border: 1px solid black;
    text-align: center;
    align-content: center;
 }
 .box1{
    /* grid-row: 1/4;
    grid-column: 1/3; */
    justify-self: end;
    /place-self is again mix of justify-self and align-self./
 }
 /* .box2{
    grid-area: main;
 }
 .box3{
    grid-area: sidebar;
 }
 .box4{
    grid-area: footer;
 } */